:root {
  /**
  * ===========================================================================
  * Application color pallette
  * ===========================================================================
  */
  /** Global App Colors **/
  --app-primary: #1a7ac9;
  --app-accent: #1ac9c0;

  /** Text **/
  --text-dark: #575757;
  --text-dark-muted: #AAA;
  --text-light: #FFFFFF;

  --light-grey: #CCC;

  --dark-grey: #333;

  /**
  * ===========================================================================
  * Standard Spacing Increments
  * ===========================================================================
  */
  --spacing-xxs: 1px;
  --spacing-xs: 5px;
  --spacing-sm: 10px;
  --spacing-md: 20px;
  --spacing-lg: 40px;

  /**
  * ===========================================================================
  * Text Sizing
  * ===========================================================================
  */
  --paragraph-text-size-small: 14px;
  --paragraph-text-size-normal: 16px;
  --paragraph-text-size-large: 20px;

  --heading1-size: 40px;
  --heading2-size: 30px;
  --heading3-size: 25px;
  --heading4-size: 20px;
  --heading5-size: 15px;
  --heading6-size: 13px;

  /**
    * ===========================================================================
    * Fonts
    * ===========================================================================
    */
  --body-font-family: 'Open Sans';
  --heading-font-family: 'Roboto';
}
